<div class="container" style="width:30rem;">
  <div class="card">
    <img class="card-img-top rounded-circle img-fluid mx-auto" src="assets/if_user 5_6712.png" alt="User">
    <div class="card-body justify-content-center ">
      <div class="input-group mb-3 ">
        <div class="input-group-prepend col-2">
          <img src="assets/if_shine_25_61234.png" alt="E-mail">
        </div>
        <input type="email " class="form-control " placeholder="E-mail " aria-label="Username " aria-describedby="basic-addon1 ">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend col-2">
          <img src="assets/if_key_16_22584.png" alt="Password">
        </div>
        <input type="password " class="form-control " placeholder="Password " aria-label="Username " aria-describedby="basic-addon1 ">
      </div>
      <div class=" row justify-content-center ">
        <button type="button " class="btn btn-outline-success ">Sing in</button>
      </div>
      <a href="#" class="badge badge-danger mt-3">Forgot the password?</a>
    </div>
  </div>
</div>